menu "Driver"

source "userland/driver/$ZOS_ARCH/Kconfig"

config BUILD_EXT2
    bool "Ext2 filesystem"
    default y

config BUILD_KBD
    bool "Keyboard driver"
    default y

config BUILD_NULL
    bool "Null driver"
    default y

config BUILD_RAMD
    bool "Ram disk driver"
    default y

config BUILD_VIDEO
    bool "Video driver"
    default y

config BUILD_TTY
    bool "TTY Driver"
    depends on BUILD_KBD && BUILD_VIDEO
    default y

endmenu
