menu "Driver"

config BUILD_ATA
    bool "ATA disk"
    depends on $ZOS_ARCH = "i386"
    default y

config BUILD_EXT2
    bool "Ext2 filesystem"
    default y

config BUILD_KBD
    bool "Keyboard driver"
    default y

config BUILD_VIDEO
    bool "Video driver"
    default y

config BUILD_TTY
    bool "TTY Driver"
    depends on BUILD_KBD && BUILD_VIDEO
    default y

endmenu
